/* Style for the body element */
body {
    font-family: 'Rubik', sans-serif; /* Changed font to 'Rubik' */
    background-image: url("../images/Table.jpg"); /* Background image */
    background-size: cover; /* Cover entire background */
    font-weight: 400; /* Changed font weight to normal */
    color: #FFFFFF; /* Text color white */
    text-align: center; /* Center-align text */
}

/* Style for h1 headings */
h1 {
    color:#1E90FF; /* Changed color to gold */
}

/* Style for the message element */
#message-el {
    font-style: italic; /* Italic text */
}

/* Style for buttons */
button {
    color: #FFFFFF; /* Changed text color to white */
    width: 150px; /* Fixed width */
    background: #1E90FF; /* Changed background color to DodgerBlue */
    padding-top: 10px; /* Increased top padding */
    padding-bottom: 10px; /* Increased bottom padding */
    font-weight: 600; /* Semi-bold text */
    border: none; /* No border */
    border-radius: 5px; /* More rounded corners */
    margin-bottom: 5px; /* Increased bottom margin */
    margin-top: 5px; /* Increased top margin */
    cursor: pointer; /* Change cursor to pointer on hover */
}

button:hover {
    background: #4682B4; /* Change background color on hover to SteelBlue */
}
